@import '~antd/lib/style/themes/default.less';

.form {
  width: 500px;
  padding: 20px;

  .qrcode {
    width: 200px;
    height: 200px;
  }
}

.submit {
  margin-left: 15px;
}

.buttonBox {
  border-top: 1px solid @border-color-base;
  padding-top: 24px;
  margin-bottom: 0;
  text-align: right;
}
