.addSale {
  width: 80%;
  min-width: 820px;
  min-height: 100%;
  //margin-left: 10%;
  margin: 0 auto;
  padding: 35px 40px 40px 40px;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;

  //header {
  //  width: 100%;
  //  height: 40px;
  //  line-height: 40px;
  //  font-size: 14px;
  //  color: #9f9f9f;
  //  span {
  //    margin-left: 5px;
  //  }
  //  .sale {
  //    color: #555;
  //  }
  //}
}

.submitTable {
  width: 100%;
  margin-top: 20px;
  li {
    width: 100%;
    height: 55px;
    line-height: 55px;
    //margin-left: -40px;
    .tableLeft {
      width: 150px;
      height: 100%;
      text-align: right;
      float: left;
      color: #000;
      font-size: 14px;
      font-weight: 400;
      padding-right: 20px;
      i {
        color: rgba(0, 0, 0, 0.43);
        font-style: normal;
      }
    }
  }
}

.denomination {
  //width: 750px;
  min-height: 200px;
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 3px;
  //margin-top: 20px;
  //margin-left: 10px;
  margin: 20px auto 0;
  header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(250, 250, 250, 1);
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    color: rgba(0, 0, 0, 0.847058823529412);
    padding: 0 30px 0 30px;
    button {
      margin-left: 15px;
    }
    div {
      float: right;
    }
  }
  section {
    padding: 10px 0 20px 0;
    overflow: hidden;
    .left {
      width: 90px;
      height: 100%;
      float: left;
      line-height: 50px;
      text-align: center;
      font-weight: 400;
    }
    .right {
      width: 650px;
      height: 100%;
      float: left;
      .iptBox {
        line-height: 50px;
        .input {
          width: 580px;
          float: left;
        }
        .icon {
          width: 50px;
          height: 50px;
          float: left;
          text-align: center;
        }
      }
    }
  }
}

.denoBox {
  width: 340px;
  height: 90px;
  .left {
    width: 60px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: right;
    padding: 0 15px 0 0;
  }
  .right {
    width: 240px;
    height: 40px;
    float: left;
    line-height: 40px;
  }
  .btnBox {
    width: 100%;
    height: 50px;
    padding: 10px 40px 0 25px;
    float: right;
    text-align: right;
    button {
      margin-left: 10px;
    }
  }
}

.addBtn {
  margin-top: 10px;
}

.amount {
  width: 760px;
  height: 80px;
  line-height: 35px;
  float: left;
  text-align: right;
  padding: 0 20px 0 0;
  margin-top: 10px;
}

.footer {
  width: 760px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: right;
  button {
    margin-right: 15px;
  }
}

.onlyPic {
  .left,
  .picsbox,
  .receipt {
    float: left;
  }

  .picsbox {
    width: 55%;
    padding: 10px 0 0 0;
    .uploadBoxInSendPic {
      width: 100%;
      padding: 5px;
    }
  }

  .receipt {
    width: 35%;
    float: left;

    .left {
      float: left;
      height: 100%;
      width: 50px;
    }
    .right {
      width: 45%;
      float: left;
      margin: 10px 0 0 10px;
    }
  }
}

.imgBox {
  width: 260px;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;

  img {
    float: left;
  }
  .iconDel {
    float: right;
    margin-top: 5px;
  }
}

.uploadBtn {
  margin: 10px 0 0 0;
}

.uploadButton {
  width: 220px;
}

.contentBox {
  width: 600px;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.uploadBoxInSendPic {
  width: 100%;
  min-height: 180px;
}
